NOME_APLICACAO=SME-SGP-MS-ETL
AMBIENTE_APLICACAO=local
NIVEL_LOG=INFO

DJANGO_SECRET_KEY=django-inseguro-apenas-desenvolvimento
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
API_KEY=trocar_esta_chave_em_ambiente_real
API_KEY_HEADER=X-API-Key

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

URL_BANCO_AUDITORIA=postgresql://postgres:postgres@localhost:5432/postgres
URL_KEYDB=redis://localhost:6379/0

EOL_DB=DRIVER={FreeTDS};SERVER=0.0.0.0;PORT=1433;DATABASE=dbname;UID=db_user;PWD=db_pass;TDS_Version=7.4;ReadOnly=True;
INTERVALO_EXECUCAO_ETL_SEGUNDOS=60

PORTA_DEBUG_ETL=5678
PORTA_DEBUG_WORKER=5679
PORTA_DEBUG_TESTES=5680
