NOME_APLICACAO=SME-IntegracaoEOL-MS-ETL
AMBIENTE_APLICACAO=local
NIVEL_LOG=INFO

DJANGO_SECRET_KEY=django-inseguro-apenas-desenvolvimento
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
API_KEY=trocar_esta_chave_em_ambiente_real
API_KEY_HEADER=X-API-Key


URL_BANCO_INSTITUCIONAL=postgresql://usuario:senha@host/institucional_db
URL_BANCO_PROFESSORES=postgresql://usuario:senha@host/professores_db
URL_BANCO_ALUNOS=postgresql://usuario:senha@host/alunos_db
URL_BANCO_PEDAGOGICO=postgresql://usuario:senha@host/pedagogico_db
URL_BANCO_PROGRAMAS=postgresql://usuario:senha@host/programas_db

POSTGRES_USER=usuario
POSTGRES_PASSWORD=senha
POSTGRES_DB=nome_banco
POSTGRES_HOST=host
POSTGRES_PORT:porta

URL_KEYDB=redis://host/valor

EOL_DB=mssql+pyodbc://usuario:senha@host/nome_banco?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes&ReadOnly=True
CORE_SSO_DB=mssql+pyodbc://usuario:senha@host/nome_banco?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes&ReadOnly=True
INTERVALO_EXECUCAO_ETL_SEGUNDOS=60

PORTA_DEBUG_ETL=porta
PORTA_DEBUG_WORKER=porta
PORTA_DEBUG_TESTES=porta

PORT_WEB=porta
PORT_DEBUGPY=porta

THREAD_POOL_MAX_WORKERS=valor
THREAD_POOL_CHUNK_TIMEOUT=valor

ENABLE_RABBITMQ_LOGGING=0
LOG_ENVIRONMENT=local
RABBITMQ_HOST=host
RABBITMQ_VIRTUAL_HOST=virtual_host
RABBITMQ_LOG_QUEUE=nome_fila
RABBITMQ_USERNAME=usuario
RABBITMQ_PASSWORD=senha
RABBITMQ_LOG_LEVEL=INFO

ELASTIC_APM_ENABLED=0
ELASTIC_APM_SERVICE_NAME=SME-IntegracaoEOL-MS-ETL
ELASTIC_APM_SECRET_TOKEN=token
ELASTIC_APM_SERVER_URL=http://host:porta
ELASTIC_APM_ENVIRONMENT=local
ELASTIC_APM_CAPTURE_HEADERS=1
ELASTIC_APM_TRANSACTION_SAMPLE_RATE=0.3
ELASTIC_APM_METRICS_INTERVAL=10s
ELASTIC_APM_FLUSH_INTERVAL=10s
ELASTIC_APM_MAX_BATCH_EVENT_COUNT=1000
ELASTIC_APM_MAX_QUEUE_EVENT_COUNT=1000
ELASTIC_APM_TRANSACTION_MAX_SPANS=500
ELASTIC_APM_LOG_LEVEL=INFO
